body {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(179, 137, 137);
}

p{ 
    color: rgb(119, 170, 24);
}

button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}